{% extends "base.html" %}

{% block title %}
Informativo
{% endblock title %}

{% block contenedor %}
<div class="contenedor d-grid gap-2">
    <h3 style="text-align: center;">Practica de vistas con funciones</h3>
    <p style="color: beige ">Esta en este segmento se realizo: <br> 1) vistas con funciones <br> 2) Practica de crear, obtener, aditar y eliminar informacion de una Base de datos</p>
    <a class="btn btn-lg btn-primary" href="{% url 'fun:home' %}">Vistas con funciones</a><br>
    <h3 style="text-align: center;">Practica de vistas con Clases</h3>
    <p style="color: beige ">Esta en este segmento se realizo: <br> 1) vistas con Clases <br> 2) Practica de crear, obtener, aditar y eliminar informacion de una Base de datos</p>
    <a class="btn btn-lg btn-primary" href="{% url 'clases:home' %}">Vistas con Clases</a>
</div>
{% endblock contenedor %}   